<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="menu_application_form" model="website.menu">
            <field name="name">Form</field>
            <field name="url">/form</field>
            <field name="parent_id" ref="website.main_menu"/>
            <field name="sequence" type="int">22</field>
        </record>


        <record id="new_merchant_tree_id" model="ir.ui.view">
			<field name="name">new.merchant.tree</field>
			<field name="model">merchant.form</field>
			<field name="arch" type="xml">
				<!-- <tree colors="blue:state == 'new';#B71C1C:state == 'verification';#64B5F6:state == 'negotiation';#1b5e20:state == 'resolved';" string="RMA"> -->
				<tree string="New Merchant Form">
					<field name="id"></field>
					<field name="account_type"/>
					<field name="equipment_type"/>
					<field name="equipment" />
					<field name="dba"/>
					<field name="owner_email"/>
					<field name="owner_phone_number"/>

					<field name="create_date"></field>
				</tree>
			</field>
    	</record>

		<record id="new_kwickpos_online_order_id" model="ir.ui.view">
			<field name="name">kwickpos_online_order.tree</field>
			<field name="model">online.order.form</field>
			<field name="arch" type="xml">
				<!-- <tree colors="blue:state == 'new';#B71C1C:state == 'verification';#64B5F6:state == 'negotiation';#1b5e20:state == 'resolved';" string="RMA"> -->
				<tree string="New Merchant Form">
					<field name="id"></field>
					<field name="customer_id"/>
					<field name="dba"/>
					<field name="pos_system" />
					<field name="create_date"></field>
				</tree>
			</field>
    	</record>

		<record id="new_merchant_form_id" model="ir.ui.view">
	        <field name="name">new.merchant.form</field>
	        <field name="model">merchant.form</field>
	        <field name="arch" type="xml">
		        <form string="New Merchant" version="7.0">
					<sheet>
						<separator string="Agent Fill In - Hidden For Merchant"/>
						<group col="4">
							<field name="account_type" />
							<field name="old_mid" />
							<field name="is_add_paper_plan" />

							<field name="standalone_or_semi" />
							<field name="equipment_type" />
							<field name="equipment" />
							<field name="bill_to" />
							<field name="equipment_quantity" />
						</group>
						<group col="4">
							<field name="checkbook" />
							<field name="tips_trays" />
							<field name="no_supply_order_needed" />
						</group>
						<group col="4">
							<field name="feature_restaurant" />
							<field name="feature_retail" />
							<field name="feature_with_tips" />
							<field name="feature_dial" />
							<field name="feature_pin_debit" />
							<field name="feature_server_id" />
							<field name="feature_ip" />
							<field name="feature_auto_time_batch" />
							<field name="feature_tip_suggestions" />
							<field name="feature_other_feature" />
							<field name="feature_ip_input" />
							<field name="feature_auto_batch_time_input" />
							<field name="feature_tip_suggestions_input" />
							<field name="feature_other_feature_input" />
						</group>
						<group col="4">
							<field name="deployment_method" />
							<field name="is_ship_with_pos" />
							<field name="ship_out_address" />
							<field name="ship_out_city" />
							<field name="ship_out_state" />
							<field name="ship_out_zip" />
							<field name="reprogram_old_mid" />
							<field name="pricing_type" />
							<field name="visa_sales_discount_fee" />
							<field name="visa_auth_fee" />
							<field name="amex_sales_discount_fee" />
							<field name="amex_auth_fee" />
							<field name="cash_discount_rate" />
							<field name="other_comment" />
							<field name="if_want_free_cash_discount" />
							<field name="monthly_fee" />
							<field name="other_comment" />
							<field name="date" />
						</group>

						<separator string="Principle Information"/>
						<group col="4">
							<field name="agent_name" />
							<field name="agent_email" />
							<field name="name_of_company" />
							<field name="dba" />
							<field name="address" />
							<field name="city" />
							<field name="state" />
							<field name="zip_code" />
							<field name="business_phone_number" />
							<field name="fax_number" />
							<field name="federal_tax_id" />
							<field name="type_of_business" />
							<field name="company_type" />
							<field name="open_date" />
							<field name="estimated_monthly_sale_volume" />
							<field name="average_sales_account" />
							<field name="amex" />

						</group>

						<group col="4">
							<field name="owner_name" />
							<field name="owner_email" />
							<field name="owner_title" />
							<field name="owner_phone_number" />
							<field name="owner_home_address" />
							<field name="owner_home_city" />
							<field name="owner_home_state" />
							<field name="owner_home_zip_code" />
							<field name="ssn" />
							<field name="owner_date_of_birth" />
							<field name="owner_driver_license_number" />
							<field name="owner_state_issued" />
							<field name="owner_bank_name" />
							<field name="owner_bank_routing" />
							<field name="owner_bank_account" />

						</group>
						<separator string="Attachment"/>
						<group col="4">
							<field name="menu_document" />
							<field name="void_check_document" />
							<field name="irs_document" />
							<field name="owner_id_document" />
							<field name="other_document" />
						</group>
						<separator string="Signature and Date"/>
						<group col="4">
							<field name="signature" widget='image'/>
							<field name="sign_date" />
							<field name="personal_guarantee_signature" widget='image'/>
							<field name="personal_guarantee_sign_date" />
							<field name="client_initials_signature" widget='image'/>
							<field name="print_client_business_legal_name" />
							<field name="client_business_principle_signature" widget='image'/>
							<field name="print_name_signer" />
							<field name="business_principle_title" />
							<field name="business_principle_sign_date" />
						</group>
						<separator string="Agreement "/>
						<group col="4">
							<field name="if_hidden_for_merchant" />
							<field name="completely_fill" />
							<field name="verify_information" />
							<field name="if_shared_form" />
						</group>
					</sheet>
				    <div class="oe_chatter">
						<field name="message_follower_ids" widget="mail_followers" groups="base.group_user"/>
						<field name="message_ids" widget="mail_thread"/>
					</div>
		        </form>
	    	</field>
	    </record>

		<record id="kwickpos_online_order_form_id" model="ir.ui.view">
	        <field name="name">kwickpos_online_order.form</field>
	        <field name="model">online.order.form</field>
	        <field name="arch" type="xml">
		        <form string="Kwickpos Online Order " version="7.0">
					<sheet>
						<separator string="Basic Information"/>
						<group col="4">
							<field name="pos_system" />
							<field name="customer_id" />
							<field name="need_website" />
							<field name="website_address" />
							<field name="wechat" />
							<field name="lunch_hours" />
							<field name="sales_tax" />
							<field name="need_chinese" />
							<field name="language" />

							<field name="note" />
							<field name="agent_email" />
							<field name="agent_name" />
							<field name="date" />
							<field name="company_name" />
							<field name="dba" />
							<field name="company_address" />
							<field name="city" />
							<field name="state" />
							<field name="zip_code" />
							<field name="business_phone_number" />
							<field name="email" />
							<field name="tax_id" />
						</group>

						<separator string="Service and Plan Choice"/>
						<group col="4">
							<field name="service_type" />
							<field name="plan_choice" />
							<field name="backup_phone" />
							<field name="delivery_zone" />
							<field name="delivery_fee" />
							<field name="minimum_order_amount" />
							<field name="free_delivering_minimum_amount" />

						</group>

						<separator string="Payment "/>
						<group col="4">
							<field name="payment_option" />
							<field name="if_cash_discount" />
							<field name="account_number" />
							<field name="routing_number" />
							<field name="ssn" />


						</group>

						<separator string="Signature and Date"/>
						<group col="4">
							<field name="client_initials" widget='image'/>
							<field name="personal_guarantee_signature" widget='image'/>
							<field name="personal_guarantee_signature_date" />
							<field name="pricing_confirmation_signature" widget='image'/>
							<field name="from_application_signature" widget='image'/>
							<field name="from_application_signature_date" />
							<field name="client_business_principle_signature" widget='image'/>
							<field name="print_name_of_signer" />
							<field name="client_business_principle_title" />
							<field name="client_business_principle_sign_date" />
							<field name="signature" widget='image'/>

						</group>
						<separator string="Attachment "/>
						<group col="4">
							<field name="menu" />
							<field name="owner_id" />
							<field name="irs_document" />
							<field name="void_check" />
						</group>
						<separator string="Attachment "/>
						<group col="4">
							<field name="if_shared_form" />

						</group>
					</sheet>
				    <div class="oe_chatter">
						<field name="message_follower_ids" widget="mail_followers" groups="base.group_user"/>
						<field name="message_ids" widget="mail_thread"/>
					</div>
		        </form>
	    	</field>
	    </record>

        <record id="action_new_merchant_id" model="ir.actions.act_window">
	        <field name="name">New Merchant</field>
	        <field name="res_model">merchant.form</field>
	        <!-- <field name="view_type">form</field> -->
	        <field name="view_mode">tree,form</field>
	        <field name="view_id" ref="new_merchant_tree_id"/>
	        <!-- <field name="Search_view_id" ref="rma_rma_search_id"/> -->
	        <field name="help" type="html">
              <p class="oe_view_nocontent_create">
                No New Merchant  has been created yet.
              </p>
            </field>
	    </record>


		<record id="action_kwickpos_online_order_id" model="ir.actions.act_window">
	        <field name="name">Kwickpos Online Order</field>
	        <field name="res_model">online.order.form</field>
	        <!-- <field name="view_type">form</field> -->
	        <field name="view_mode">tree,form</field>
	        <field name="view_id" ref="new_kwickpos_online_order_id"/>
	        <!-- <field name="Search_view_id" ref="rma_rma_search_id"/> -->
	        <field name="help" type="html">
              <p class="oe_view_nocontent_create">
                No Kwickpos Online Order  has been created yet.
              </p>
            </field>
	    </record>

        <menuitem id="menu_website_application_top_tray"  name="Website Application" web_icon="website_application/static/description/odoo_icon.png"/>
        <menuitem id="menu_website_application_parent" parent="menu_website_application_top_tray"  name="Form" sequence="1"/>
        <menuitem action="action_new_merchant_id" id="menu_new_merchant_id" parent="menu_website_application_parent" name="New Merchant Form"/>
		<menuitem action="action_kwickpos_online_order_id" id="menu_kwickpos_online_order_id" parent="menu_website_application_parent" name="Kwickpos Online Order"/>
    </data>


</odoo>